@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body{
    background-image: url(images/obsidian.png);
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    height: 100%;
    text-align: left;
}

ul{
    list-style-type: none;
    font-weight: 700;
    font-size: 12px;
    color: #00d636;
    padding: 0px 0px 10px;
    text-shadow: 0.02em 0.02em 0.02em #333333
}

ul li{
    color: #ffffff;
    font-weight: 400;
    font-size: 8px;
    padding: 0px 0px 0px;
    text-shadow: 0.05em 0.05em 0.05em #333333
}