@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body{
    background-image: url(images/obsidian.png);
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    height: 100%;
    width: 100%;
    text-align: left;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    font-weight: 700;
    font-size: 12px;
    color: #00d636;
    padding: 0;
    text-shadow: 0.02em 0.02em 0.02em #333333
}

ul li{
    color: #ffffff;
    font-weight: 400;
    font-size: 10px;
    text-shadow: 0.05em 0.05em 0.05em #333333
}

.sidebar{
    background-color: rgb(0, 0, 0, 0.2);
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 90%;
    font-weight: 700;
    border-radius: 15px;
    padding: 15px;
}

.discord {
    color: #ffffff;
    padding-right: 10px;
}

img{
    width: 32px;
}